form {
  width: 550px;
  background-color: #F9F9FF;
}

p {
  color: #52525B;
  width: 550px;
}
.conti{
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    width: fit-content;
    margin: 0;
    margin-right: 5px;
  }
}
