<!-- custom-input.component.html -->
@if(type === 'select')
{
  <div class="input-container">
    <label *ngIf="label">{{ label }}</label>
    <div [ngClass]="{
      'input-wrapper': true,
      'sel': true
    }"
         >
      <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
        <mat-select formControlName="control">
          @for (opt of options; track $index) {
            <mat-option [value]="opt">
              {{ opt }}
            </mat-option>
          }

        </mat-select>

    </div>

  </div>

}
@else {
  <div class="input-container">
    <label *ngIf="label">{{ label }}</label>
    <div [ngClass]="{
      'input-wrapper': true,
      'invalid': control.invalid && (control.dirty || control.touched),
      'valid': control.valid && (control.dirty || control.touched)
    }"
         >
      <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
      <input
        [type]="type"
        formControlName="control"
        [placeholder]="placeholder"
        [disabled]="disabled || isDisabled"
        [value]="value"
        (input)="onInputChange($event)"
        (blur)="onBlur()"
        [class]="inputClass"

      />
    </div>
    @if (control.invalid && (control.dirty || control.touched)) {
      <div class="error-message">
        {{ getErrorMessage() }}
      </div>
    }

  </div>

}
